[submodule ".vim/bundle/calendar-vim"]
	path = .vim/bundle/calendar-vim
	url = https://github.com/mattn/calendar-vim
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/leshill/vim-json
[submodule ".vim/bundle/vim-game-of-life"]
	path = .vim/bundle/vim-game-of-life
	url = https://github.com/vim-scripts/vim-game-of-life.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/tetris-vim"]
	path = .vim/bundle/tetris-vim
	url = git://github.com/vim-scripts/TeTrIs.vim.git
